@import 'antd/dist/antd.css'; 
  * {
  margin: 0px;
  padding: 0px;
}
.navitem .active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: red;
  left: 0;
  bottom: -7px;
  animation: underline_appear 1s linear;
}
@keyframes underline_appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
